
configobj==5.0.6

Flask-Cors==2.1.2

gunicorn==19.9.0

ipykernel==4.5.0
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2

Jinja2==2.8
jsonschema==2.5.1

numpy==1.14.2
itsdangerous==0.24
requests==2.19.1
MarkupSafe==0.23
simplejson==3.15.0
Werkzeug==0.11.3
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
wheel==0.24.0
